{% extends 'AgileServeXBundle:Admin:layout.html.twig' %}


{% block content %}
      <form name="form" id="form" method="post" style="margin-left:15px;" class="form-horizontal product-page row" novalidate="novalidate">
            <div class="row">
                 <div class="col-md-12">
                     <div class="form-group">
                         {{ include('PrestaShopBundle:Admin/Product/Include:form-categories.html.twig', { 'form': form.step1, 'productId': id_product }) }}
                      </div>
                 </div>
            </div>
            <div class="row">
                <div id="related-product" class="m-b-1">
                  <div id="related-content" class="row {{ form.step1.related_products.vars.value.data|length == 0 ? 'hide':'' }}">
                    <div class="col-md-12">
                      <h2>{{ "Related product" | trans({}, 'AdminProducts') }}</h2>
                    </div>
                    <div class="col-md-8">
                      {{ form_errors(form.step1.related_products) }}
                    </div>
                    <div class="col-md-8">
                      {{ form_widget(form.step1.related_products) }}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <a href="#" class="btn btn-action btn-block text-md-left open {{ form.step1.related_products.vars.value.data|length > 0 ? 'hide':'' }}">
                        <i class="material-icons">add</i>
                        {{ 'Add a related product' | trans({}, 'AdminProducts') }}
                      </a>
                    </div>
                  </div>
                </div>
            </div>

          {# Save buttons #}
          <div>
              <input type="hidden" name="submitAssociations" value="1"></input>
              <input data-original-title="Save (CTRL+S) the product and stay on the current page." id="submit" class="btn btn-primary btn-lg uppercase" value="Save" data-toggle="tooltip" title="" type="submit"></input>              
          </div>


        {{ form_widget(form.id_product) }}
        {{ form_widget(form._token) }}
      
      </form>


{{ parent() }}

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('../modules/agilemultipleseller/js/elementbridge/form-common.js') }}"></script>
    <script src="{{ asset('../modules/agilemultipleseller/js/elementbridge/form-product-association.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/product/product-category-tags.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/product/default-category.js') }}"></script>
    <script src="{{ asset('themes/default/js/bundle/category-tree.js') }}"></script>
{% endblock %}

