{% extends 'AgileServeXBundle:Admin:layout.html.twig' %}


{% block content %}
      <form name="form" id="form" method="post" style="margin-left:15px;" class="form-horizontal product-page row" novalidate="novalidate">

                    <div id="features" class="m-b-1">
                      <div id="features-content" class="content {{ form.step1.features|length == 0 ? 'hide':'' }}">
                        <h2>{{ 'Features' | trans([], 'AdminProducts') }}</h2>
                        {{ form_errors(form.step1.features) }}
                        <div
                          class="feature-collection nostyle"
                          data-prototype="{% filter escape %}
                            {{ include('PrestaShopBundle:Admin/Product/Include:form_feature.html.twig', { 'form': form.step1.features.vars.prototype }) }}
                          {% endfilter %}"
                        >
                          {% for feature in form.step1.features %}
                            {{ include('PrestaShopBundle:Admin/Product/Include:form_feature.html.twig', { 'form': feature }) }}
                          {% endfor %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <a href="#" class="btn btn-action btn-block text-md-left add" id="add_feature_button">
                            <i class="material-icons">add</i>
                            {{ 'Add a feature' | trans({}, 'AdminProducts') }}
                          </a>
                        </div>
                      </div>
                    </div>

          {# Save buttons #}
          <div>
              <input type="hidden" name="submitAssociations" value="1"></input>
              <input data-original-title="Save (CTRL+S) the product and stay on the current page." id="submit" class="btn btn-primary btn-lg uppercase" value="Save" data-toggle="tooltip" title="" type="submit"></input>              
          </div>

        {{ form_widget(form.id_product) }}
        {{ form_widget(form._token) }}
      
      </form>


{{ parent() }}

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('../modules/agilemultipleseller/js/elementbridge/form-common.js') }}"></script>
    <script src="{{ asset('../modules/agilemultipleseller/js/elementbridge/form-product-features.js') }}"></script>
{% endblock %}

