{% extends 'AgileServeXBundle:Admin:layout.html.twig' %}


{% block content %}
      <form name="form" id="form" method="post" style="margin-left:15px;" class="form-horizontal product-page row" novalidate="novalidate">
                    <div id="product-images-container" class="m-b-2">
                      <div id="product-images-dropzone" class="panel dropzone ui-sortable" url-upload="{{ path('admin_product_image_upload') }}" url-position="{{ path('admin_product_image_positions') }}" url-update="{{ path('admin_product_image_form') }}" url-delete="{{ path('admin_product_image_delete') }}" data-max-size="{{ 'PS_ATTACHMENT_MAXIMUM_SIZE'|configuration }}">
                        <div id="product-images-dropzone-error" class="text-danger"></div>

                        {% if form.step1.vars.value.images is defined %}
                          {% if form.step1.vars.value.images|length > 0 %}
                            <div class="dz-preview disabled openfilemanager">
                              <div><span>+</span></div>
                            </div>
                          {% endif %}
                          {% for image in form.step1.vars.value.images %}
                            <div class="dz-preview dz-processing dz-image-preview dz-complete ui-sortable-handle" data-id="{{ image.id }}">
                              <div class="dz-image bg" style="background-image: url('{{ image.base_image_url }}-home_default.{{ image.format }}');"></div>
                              <div class="dz-details">
                                <div class="dz-size"><span data-dz-size=""></span></div>
                                <div class="dz-filename"><span data-dz-name=""></span></div>
                              </div>
                              <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress="" style="width: 100%;"></span></div>
                              <div class="dz-error-message"><span data-dz-errormessage=""></span></div>
                              <div class="dz-success-mark"></div>
                              <div class="dz-error-mark"></div>
                              {% if image.cover %}
                                <div class="iscover">{{ 'Cover'|trans({}, 'Admin.Catalog.Feature') }}</div>
                              {% endif %}
                            </div>
                          {% endfor %}
                        {% endif %}
                      </div>
                      <div class="dropzone-expander text-xs-center">
                        <span class="expand">{{ 'View all images'|trans({}, 'Admin.Catalog.Feature') }}</span>
                        <span class="compress">{{ 'View less'|trans({}, 'Admin.Catalog.Feature') }}</span>
                      </div>
                      <div id="product-images-form-container" class="col-lg-5 panel">
                        <div id="product-images-form" class="col-lg-12"></div>
                      </div>
                    </div>

        {{ form_widget(form.id_product) }}
        {{ form_widget(form._token) }}
      
      </form>


{{ parent() }}

{% endblock %}


{% block javascripts %}
    <script src="{{ asset('../modules/agilemultipleseller/js/elementbridge/form-common.js') }}"></script>
    <script src="{{ asset('../modules/agilemultipleseller/js/elementbridge/form-product-images.js') }}"></script>

    <script>
        /** 
        * dummy combinaitons to avoid error: because it will be called from "form-product-images.js"
        */
        var combinations = (function () {
            return {
                'refreshImagesCombination': function () {
                }
            };
        })();
    </script>
{% endblock %}


